<html>

<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="/css/styles/form.css">
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <img src="nitbanner.png" alt="NITS" height="150vh" width="1000vh" class="col-lg-12 col-md-12 col-sm-12">
        </div>
        <center>
            <div class="subhead col-lg-10 col-md-12 col-sm-12" id="headline">
                Registration Portal
            </div>
        </center>
        <br><br><br>
        <div class="container col-lg-12 col-md-12 col-sm-12">
            <legend>6. EDUCATIONAL QUALIFICATION</legend>
            <form class="form-horizontal" action="/form2Edit" method="POST">
                <% docs.forEach((doc)=>{ %>

                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-highlight">
                        <thead>
                            <th>Degree</th>
                            <th>name of Board/University</th>
                            <th>Branch/Specialization</th>
                            <th>Year of completion</th>
                            <th>Div./Class</th>
                            <th>%-age of marks</th>
                            <th>CGPA/CPI</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>X</td>
                                <td><input type="text" class="form-control" name="Xboard" value="<%= doc.Xboard %>" /></td>
                                <td><input type="text" class="form-control" name="Xbranch" disabled /></td>
                                <td>
                                    <input type="number" class="form-control" name="Xyear" value="<%= doc.Xyear %>" />
                                    <!-- <select class="form-control">
 <option>Monthly</option>
 <option>Yearly</option>
 </select> -->
                                </td>
                                <td><input type="number" class="form-control" value="<%= doc.Xdivision %>" name="Xdivision" /></td>
                                <td><input type="number" class="form-control" value="<%= doc.Xpercentage %>" name="Xpercentage" /></td>
                                <td><input type="number" class="form-control" value="<%= doc.Xcgpa %>" name="Xcgpa" /></td>
                            </tr>
                            <tr>
                                <td>XII</td>
                                <td><input type="text" class="form-control" value="<%= doc.XIIboard %>" name="XIIboard" /></td>
                                <td><input type="text" class="form-control" value="<%= doc.XIIbranch %>" name="XIIbranch" /></td>
                                <td>
                                    <input type="number" class="form-control" value="<%= doc.XIIyear %>" name="XIIyear" />
                                    <!-- <select class="form-control">
 <option>Monthly</option>
 <option>Yearly</option>
 </select> -->
                                </td>
                                <td><input type="number" class="form-control" value="<%= doc.XIIdivision %>" name="XIIdivision" /></td>
                                <td><input type="number" class="form-control" value="<%= doc.XIIpercentage %>" name="XIIpercentage" /></td>
                                <td><input type="number" class="form-control" value="<%= doc.XIIcgpa %>" name="XIIcgpa" /></td>
                            </tr>
                            <tr>
                                <td>Diploma</td>
                                <td><input type="text" class="form-control" value="<%= doc.dboard %>" name="dboard" /></td>
                                <td><input type="text" class="form-control" value="<%= doc.dbranch %>" name="dbranch" /></td>
                                <td>
                                    <input type="number" class="form-control" value="<%= doc.dyear %>" name="dyear" />
                                    <!-- <select class="form-control">
 <option>Monthly</option>
 <option>Yearly</option>
 </select> -->
                                </td>
                                <td><input type="number" class="form-control" value="<%= doc.ddivision %>" name="ddivision" /></td>
                                <td><input type="number" class="form-control" value="<%= doc.dpercentage %>" name="dpercentage" /></td>
                                <td><input type="number" class="form-control" value="<%= doc.dcgpa %>" name="dcgpa" /></td>
                            </tr>
                            <tr>
                                <td>Graduation</td>
                                <td><input type="text" class="form-control" value="<%= doc.gboard %>" name="gboard" /></td>
                                <td><input type="text" class="form-control" value="<%= doc.gbranch %>" name="gbranch" /></td>
                                <td>
                                    <input type="number" class="form-control" value="<%= doc.gyear %>" name="gyear" />
                                    <!-- <select class="form-control">
 <option>Monthly</option>
 <option>Yearly</option>
 </select> -->
                                </td>
                                <td><input type="number" class="form-control" value="<%= doc.gdivision %>" name="gdivision" /></td>
                                <td><input type="number" class="form-control" value="<%= doc.gpercentage %>" name="gpercentage" /></td>
                                <td><input type="number" class="form-control" value="<%= doc.gcgpa %>" name="gcgpa" /></td>
                            </tr>
                            <tr>
                                <td>Post Graduation</td>
                                <td><input type="text" class="form-control" value="<%= doc.pgboard %>" name="pgboard" /></td>
                                <td><input type="text" class="form-control" value="<%= doc.pgbranch %>" name="pgbranch" /></td>
                                <td>
                                    <input type="number" class="form-control" value="<%= doc.pgyear %>" name="pgyear" />
                                    <!-- <select class="form-control">
 <option>Monthly</option>
 <option>Yearly</option>
 </select> -->
                                </td>
                                <td><input type="number" class="form-control" value="<%= doc.pgdivision %>" name="pgdivision" /></td>
                                <td><input type="number" class="form-control" value="<%= doc.pgpercentage %>" name="pgpercentage" /></td>
                                <td><input type="number" class="form-control" value="<%= doc.pgcgpa %>" name="pgcgpa" /></td>
                            </tr>
                            <tr>
                                <td>Ph.D.</td>
                                <td><input type="text" class="form-control" value="<%= doc.phdboard %>" name="phdboard" /></td>
                                <td><input type="text" class="form-control" value="<%= doc.phdbranch %>" name="phdbranch" /></td>
                                <td>
                                    <input type="number" class="form-control" value="<%= doc.phdyear %>" name="phdyear" />
                                    <!-- <select class="form-control">
 <option>Monthly</option>
 <option>Yearly</option>
 </select> -->
                                </td>
                                <td><input type="number" class="form-control" name="phddivision" disabled /></td>
                                <td><input type="number" class="form-control" name="phdpercentage" disabled /></td>
                                <td><input type="number" class="form-control" name="phdcgpa" disabled /></td>
                            </tr>
                            <tr>
                                <td>Others</td>
                                <td><input type="text" class="form-control" value="<%= doc.oboard %>" name="oboard" /></td>
                                <td><input type="text" class="form-control" value="<%= doc.obranch %>" name="obranch" /></td>
                                <td>
                                    <input type="text" class="form-control" value="<%= doc.oyear %>" name="oyear" />
                                    <!-- <select class="form-control">
 <option>Monthly</option>
 <option>Yearly</option>
 </select> -->
                                </td>
                                <td><input type="text" class="form-control" value="<%= doc.odivision %>" name="odivision" /></td>
                                <td><input type="text" class="form-control" value="<%= doc.opercentage %>" name="opercentage" /></td>
                                <td><input type="text" class="form-control" value="<%= doc.ocgpa %>" name="ocgpa" /></td>
                            </tr>
                            <tr>
                                <td>Title of Ph.D. Thesis</td>
                                <td><input type="text" class="form-control" value="<%= doc.tophd %>" name="tophd" /></td>
                                <td><input type="text" class="form-control" name="tophdbranch" disabled /></td>
                                <td>
                                    <input type="text" class="form-control" name="tophdyear" disabled />
                                    <!-- <select class="form-control">
 <option>Monthly</option>
 <option>Yearly</option>
 </select> -->
                                </td>
                                <td><input type="text" class="form-control" name="tophddivision" disabled /></td>
                                <td><input type="text" class="form-control" name="tophdpercentage" disabled /></td>
                                <td><input type="text" class="form-control" name="tophdcgpa" disabled /></td>
                            </tr>
                        </tbody>
                    </table>
                    <br><br>
                    <legend>7. EXPERIENCE</legend>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-highlight">
                            <thead>
                                <th rowspan="2">Sl.No.</th>
                                <th rowspan="2">Organisation</th>
                                <th rowspan="2">Designation</th>
                                <th colspan="2">Period(Date)</th>
                                <th colspan="2">Duration</th>
                                <th rowspan="2">Pay Scale</th>
                                <th rowspan="2">Reason for Leaving </th>
                                <tr>
                                    <td style="text-align: center;">From</td>
                                    <td style="text-align: center;">To</td>
                                    <td style="text-align: center;">Year</td>
                                    <td style="text-align: center;">Month</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1.</td>
                                    <td><input type="text" class="form-control" value="<%= doc.exorganization1 %>" name="exorganization1" /></td>
                                    <td><input type="text" class="form-control" value="<%= doc.exdesignation1 %>" name="exdesignation1" /></td>
                                    <td><input type="date" style="width: 200px;" id="from1" value="<%= doc.exfrom1 %>" class="form-control"
                                            name="exfrom1" /></td>
                                    <td><input type="date" style="width: 200px;" id="from2" value="<%= doc.exto1 %>" class="form-control"
                                            name="exto1" /></td>
                                    <td><input type="text" class="form-control" id="year1" onchange="predictYear()" value="<%= doc.duryear1 %>" name="duryear1" /></td>
                                    <td><input type="text" class="form-control" id="month1" onchange="predictMonth()" value="<%= doc.durmonth1 %>" name="durmonth1" /></td>
                                    <td><input type="text" class="form-control" value="<%= doc.payScale1 %>" name="payScale1" /></td>
                                    <td><input type="text" class="form-control" value="<%= doc.reason1 %>" name="reason1" /></td>
                                </tr>
                                <tr>
                                    <td>2.</td>
                                    <td><input type="text" class="form-control" value="<%= doc.exorganization2 %>" name="exorganization2" /></td>
                                    <td><input type="text" class="form-control" value="<%= doc.exdesignation2 %>" name="exdesignation2" /></td>
                                    <td><input type="date" style="width: 200px;" value="<%= doc.exfrom2 %>" class="form-control"
                                            name="exfrom2" /></td>
                                    <td><input type="date" style="width: 200px;" value="<%= doc.exto2 %>" class="form-control"
                                            name="exto2" /></td>
                                    <td><input type="text" class="form-control" value="<%= doc.duryear2 %>" name="duryear2" /></td>
                                    <td><input type="text" class="form-control" value="<%= doc.durmonth2 %>" name="durmonth2" /></td>
                                    <td><input type="text" class="form-control" value="<%= doc.payScale2 %>" name="payScale2" /></td>
                                    <td><input type="text" class="form-control" value="<%= doc.reason2 %>" name="reason2" /></td>
                                </tr>
                                <tr>
                                    <td>3.</td>
                                    <td><input type="text" class="form-control" value="<%= doc.exorganization3 %>" name="exorganization3" /></td>
                                    <td><input type="text" class="form-control" value="<%= doc.exdesignation3 %>" name="exdesignation3" /></td>
                                    <td><input type="date" style="width: 200px;" value="<%= doc.exfrom3 %>" class="form-control"
                                            name="exfrom3" /></td>
                                    <td><input type="date" style="width: 200px;" value="<%= doc.exto3 %>" class="form-control"
                                            name="exto3" /></td>
                                    <td><input type="text" class="form-control" value="<%= doc.duryear3 %>" name="duryear3" /></td>
                                    <td><input type="text" class="form-control" value="<%= doc.durmonth3 %>" name="durmonth3" /></td>
                                    <td><input type="text" class="form-control" value="<%= doc.payScale3 %>" name="payScale3" /></td>
                                    <td><input type="text" class="form-control" value="<%= doc.reason3 %>" name="reason3" /></td>
                                </tr>
                                <tr>
                                    <td>4.</td>
                                    <td><input type="text" class="form-control" value="<%= doc.exorganization4 %>" name="exorganization4" /></td>
                                    <td><input type="text" class="form-control" value="<%= doc.exdesignation4 %>" name="exdesignation4" /></td>
                                    <td><input type="date" style="width: 200px;" value="<%= doc.exfrom4 %>" class="form-control"
                                            name="exfrom4" /></td>
                                    <td><input type="date" style="width: 200px;" value="<%= doc.exto4 %>" class="form-control"
                                            name="exto4" /></td>
                                    <td><input type="text" class="form-control" value="<%= doc.duryear4 %>" name="duryear4" /></td>
                                    <td><input type="text" class="form-control" value="<%= doc.durmonth4 %>" name="durmonth4" /></td>
                                    <td><input type="text" class="form-control" value="<%= doc.payScale4 %>" name="payScale4" /></td>
                                    <td><input type="text" class="form-control" value="<%= doc.reason4 %>" name="reason4" /></td>
                                </tr>
                                <tr>
                                    <td>5.</td>
                                    <td><input type="text" class="form-control" value="<%= doc.exorganization5 %>" name="exorganization5" /></td>
                                    <td><input type="text" class="form-control" value="<%= doc.exdesignation5 %>" name="exdesignation5" /></td>
                                    <td><input type="date" style="width: 200px;" value="<%= doc.exfrom5 %>" class="form-control"
                                            name="exfrom5" /></td>
                                    <td><input type="date" style="width: 200px;" value="<%= doc.exto5 %>" class="form-control"
                                            name="exto5" /></td>
                                    <td><input type="text" class="form-control" value="<%= doc.duryear5 %>" name="duryear5" /></td>
                                    <td><input type="text" class="form-control" value="<%= doc.durmonth5 %>" name="durmonth5" /></td>
                                    <td><input type="text" class="form-control" value="<%= doc.payScale5 %>" name="payScale5" /></td>
                                    <td><input type="text" class="form-control" value="<%= doc.reason5 %>" name="reason5" /></td>
                                </tr>
                                <tr>
                                    <td>6.</td>
                                    <td><input type="text" class="form-control" value="<%= doc.exorganization6 %>" name="exorganization6" /></td>
                                    <td><input type="text" class="form-control" value="<%= doc.exdesignation6 %>" name="exdesignation6" /></td>
                                    <td><input type="date" style="width: 200px;" value="<%= doc.exfrom6 %>" class="form-control"
                                            name="exfrom6" /></td>
                                    <td><input type="date" style="width: 200px;" value="<%= doc.exto6 %>" class="form-control"
                                            name="exto6" /></td>
                                    <td><input type="text" class="form-control" value="<%= doc.duryear6 %>" name="duryear6" /></td>
                                    <td><input type="text" class="form-control" value="<%= doc.durmonth6 %>" name="durmonth6" /></td>
                                    <td><input type="text" class="form-control" value="<%= doc.payScale6 %>" name="payScale6" /></td>
                                    <td><input type="text" class="form-control" value="<%= doc.reason6 %>" name="reason6" /></td>
                                </tr>
                                <tr>
                                    <td>7.</td>
                                    <td><input type="text" class="form-control" value="<%= doc.exorganization7 %>" name="exorganization7" /></td>
                                    <td><input type="text" class="form-control" value="<%= doc.exdesignation7 %>" name="exdesignation7" /></td>
                                    <td><input type="date" style="width: 200px;" value="<%= doc.exfrom7 %>" class="form-control"
                                            name="exfrom7" /></td>
                                    <td><input type="date" style="width: 200px;" value="<%= doc.exto7 %>" class="form-control"
                                            name="exto7" /></td>
                                    <td><input type="text" class="form-control" value="<%= doc.duryear7 %>" name="duryear7" /></td>
                                    <td><input type="text" class="form-control" value="<%= doc.durmonth7 %>" name="durmonth7" /></td>
                                    <td><input type="text" class="form-control" value="<%= doc.payScale7 %>" name="payScale7" /></td>
                                    <td><input type="text" class="form-control" value="<%= doc.reason7 %>" name="reason7" /></td>
                                </tr>
                                <tr>
                                    <td>8.</td>
                                    <td><input type="text" class="form-control" value="<%= doc.exorganization8 %>" name="exorganization8" /></td>
                                    <td><input type="text" class="form-control" value="<%= doc.exdesignation8 %>" name="exdesignation8" /></td>
                                    <td><input type="date" style="width: 200px;" value="<%= doc.exfrom8 %>" class="form-control"
                                            name="exfrom8" /></td>
                                    <td><input type="date" style="width: 200px;" value="<%= doc.exto8 %>" class="form-control"
                                            name="exto8" /></td>
                                    <td><input type="text" class="form-control" value="<%= doc.duryear8 %>" name="duryear8" /></td>
                                    <td><input type="text" class="form-control" value="<%= doc.durmonth8 %>" name="durmonth8" /></td>
                                    <td><input type="text" class="form-control" value="<%= doc.payScale8 %>" name="payScale8" /></td>
                                    <td><input type="text" class="form-control" value="<%= doc.reason8 %>" name="reason8" /></td>
                                </tr>
                                <tr>
                                    <td>9.</td>
                                    <td><input type="text" class="form-control" value="<%= doc.exorganization9 %>" name="exorganization9" /></td>
                                    <td><input type="text" class="form-control" value="<%= doc.exdesignation9 %>" name="exdesignation9" /></td>
                                    <td><input type="date" style="width: 200px;" value="<%= doc.exfrom9 %>" class="form-control"
                                            name="exfrom9" /></td>
                                    <td><input type="date" style="width: 200px;" value="<%= doc.exto9 %>" class="form-control"
                                            name="exto9" /></td>
                                    <td><input type="text" class="form-control" value="<%= doc.duryear9 %>" name="duryear9" /></td>
                                    <td><input type="text" class="form-control" value="<%= doc.durmonth9 %>" name="durmonth9" /></td>
                                    <td><input type="text" class="form-control" value="<%= doc.payScale9 %>" name="payScale9" /></td>
                                    <td><input type="text" class="form-control" value="<%= doc.reason9 %>" name="reason9" /></td>
                                </tr>
                                <tr>
                                    <td>10.</td>
                                    <td><input type="text" class="form-control" value="<%= doc.exorganization10 %>"
                                            name="exorganization10" /></td>
                                    <td><input type="text" class="form-control" value="<%= doc.exdesignation10 %>" name="exdesignation10" /></td>
                                    <td><input type="date" style="width: 200px;" value="<%= doc.exfrom10 %>" class="form-control"
                                            name="exfrom10" /></td>
                                    <td><input type="date" style="width: 200px;" value="<%= doc.exto10 %>" class="form-control"
                                            name="exto10" /></td>
                                    <td><input type="text" style="width: 100px;" class="form-control" value="<%= doc.duryear10 %>" name="duryear10" /></td>
                                    <td><input type="text" class="form-control" value="<%= doc.durmonth10 %>" name="durmonth10" /></td>
                                    <td><input type="text" style="width: 100px;" class="form-control" value="<%= doc.payScale10 %>" name="payScale10" /></td>
                                    <td><input type="text" style="width: 500px;" class="form-control" value="<%= doc.reason10 %>" name="reason10" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br><br>
                </div>
                <div class="container col-lg-12 col-md-12 col-sm-12">
                    <div class="form-row">
                        <div class="form-group col-lg-10 col-md-10">
                            <label for="typing">
                                <h4>8. Typing Speed (If needed for the applied post)</h4>
                            </label>
                            <input type="text" class="form-control" value="<%= doc.speed %>" id="typing" name="speed">
                        </div>
                    </div>
                </div>
                <br><br>
                <div class="container col-lg-12 col-md-12 col-sm-12">
                    <legend>9. ANY OTHER EXPERIENCE (Not mentioned in serial no: 7)</legend>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-highlight">
                            <thead>
                                <th>Sl.No.</th>
                                <th>Datails</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1.</td>
                                    <td><input type="text" class="form-control" value="<%= doc.oExperience1 %>" name="oExperience1" /></td>
                                </tr>
                                <tr>
                                    <td>2.</td>
                                    <td><input type="text" class="form-control" value="<%= doc.oExperience2 %>" name="oExperience2" /></td>
                                </tr>
                                <tr>
                                    <td>3.</td>
                                    <td><input type="text" class="form-control" value="<%= doc.oExperience3 %>" name="oExperience3" /></td>
                                </tr>
                                <tr>
                                    <td>4.</td>
                                    <td><input type="text" class="form-control" value="<%= doc.oExperience4 %>" name="oExperience4" /></td>
                                </tr>
                                <tr>
                                    <td>5.</td>
                                    <td><input type="text" class="form-control" value="<%= doc.oExperience5 %>" name="oExperience5" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br><br>
                <div class="container col-lg-12 col-md-12 col-sm-12">
                    <legend>10. LIST OF ANNEXURE ENCLOSED</legend>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-highlight">
                            <thead>
                                <th>Sl.No.</th>
                                <th>Annexure No.</th>
                                <th>Datails</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1.</td>
                                    <td><input type="text" class="form-control" value="<%= doc.annexureNo1 %>" name="annexureNo1" /></td>
                                    <td><input type="text" class="form-control" value="<%= doc.annexureDetail1 %>" name="annexureDetail1"
                                            style="width: 800px" /></td>
                                </tr>
                                <tr>
                                    <td>2.</td>
                                    <td><input type="text" class="form-control" value="<%= doc.annexureNo2 %>" name="annexureNo2" /></td>
                                    <td><input type="text" class="form-control" value="<%= doc.annexureDetail2 %>" name="annexureDetail2"
                                            style="width: 800px" /></td>
                                </tr>
                                <tr>
                                    <td>3.</td>
                                    <td><input type="text" class="form-control" value="<%= doc.annexureNo3 %>" name="annexureNo3" /></td>
                                    <td><input type="text" class="form-control" value="<%= doc.annexureDetail3 %>" name="annexureDetail3"
                                            style="width: 800px" /></td>
                                </tr>
                                <tr>
                                    <td>4.</td>
                                    <td><input type="text" class="form-control" value="<%= doc.annexureNo4 %>" name="annexureNo4" /></td>
                                    <td><input type="text" class="form-control" value="<%= doc.annexureDetail4 %>" name="annexureDetail4"
                                            style="width: 800px" /></td>
                                </tr>
                                <tr>
                                    <td>5.</td>
                                    <td><input type="text" class="form-control" value="<%= doc.annexureNo5 %>" name="annexureNo5" /></td>
                                    <td><input type="text" class="form-control" value="<%= doc.annexureDetail5 %>" name="annexureDetail5"
                                            style="width: 800px" /></td>
                                </tr>
                                <tr>
                                    <td>6.</td>
                                    <td><input type="text" class="form-control" value="<%= doc.annexureNo6 %>" name="annexureNo6" /></td>
                                    <td><input type="text" class="form-control" value="<%= doc.annexureDetail6 %>" name="annexureDetail6"
                                            style="width: 800px" /></td>
                                </tr>
                                <tr>
                                    <td>7.</td>
                                    <td><input type="text" class="form-control" value="<%= doc.annexureNo7 %>" name="annexureNo7" /></td>
                                    <td><input type="text" class="form-control" value="<%= doc.annexureDetail7 %>" name="annexureDetail7"
                                            style="width: 800px" /></td>
                                </tr>
                                <tr>
                                    <td>8.</td>
                                    <td><input type="text" class="form-control" value="<%= doc.annexureNo8 %>" name="annexureNo8" /></td>
                                    <td><input type="text" class="form-control" value="<%= doc.annexureDetail8 %>" name="annexureDetail8"
                                            style="width: 800px" /></td>
                                </tr>
                                <tr>
                                    <td>9.</td>
                                    <td><input type="text" class="form-control" value="<%= doc.annexureNo9 %>" name="annexureNo9" /></td>
                                    <td><input type="text" class="form-control" value="<%= doc.annexureDetail9 %>" name="annexureDetail9"
                                            style="width: 800px" /></td>
                                </tr>
                                <tr>
                                    <td>10.</td>
                                    <td><input type="text" class="form-control" value="<%= doc.annexureNo10 %>" name="annexureNo10" /></td>
                                    <td><input type="text" class="form-control" value="<%= doc.annexureDetail10 %>"
                                            name="annexureDetail10" style="width: 800px" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- <fieldset><br>
 <legend>6. EDUCATIONAL QUALIFICATION</legend>
 <table class="EDUCATION">
 <tr>
 <td align="center" name="Sl"><b>Sl.No.</b></td>
 <td align="center" name="degree"><b>Degree</b></td>
 <td align="center" name="nob"><b>name of Board/ University</b></td>
 <td align="center" name="br"><b>Branch / Specialization</b></td>
 <td align="center" name="yoc"><b>Year of completion</b></td>
 <td align="center" name="div"><b>Div. / Class</b></td>
 <td align="center" name="percentage"><b>%age of marks</b></td>
 <td align="center" name="cgpa"><b>CGPA /CPI</b></td>
 </tr>

 <tr>
 <td>1</td>
 <td>Class X</td>
 <td><input type="text" name="Xboard" maxlen value=""gth="30" /></td>
 <td><input type="text" name="Xbranch" maxle value=""ngth="30" /></td>
 <td><input type="text" name="Xyear" maxleng value=""th="30" /></td>
 <td><input type="text" name="Xdivision" max value=""length="30" /></td>
 <td><input type="text" name="Xpercentage" m value=""axlength="30" style="width: 100px" /></td>
 <td><input type="text" name="Xcgpa" maxleng value=""th="30" style="width: 100px" /></td>
 </tr>

 <tr>
 <td>2</td>
 <td>Class XII</td>
 <td><input type="text" name="XIIboard" maxl value=""ength="30" /></td>
 <td><input type="text" name="XIIbranch" max value=""length="30" /></td>
 <td><input type="text" name="XIIyear" maxle value=""ngth="30" /></td>
 <td><input type="text" name="XIIdivision" m value=""axlength="30" /></td>
 <td><input type="text" name="XIIpercentage" value="" maxlength="30" style="width: 100px" /></td>
 <td><input type="text" name="XIIcgpa" maxle value=""ngth="30" style="width: 100px" /></td>
 </tr>

 <tr>
 <td>3</td>
 <td>Diploma</td>
 <td><input type="text" name="dboard" maxlen value=""gth="30" /></td>
 <td><input type="text" name="dbranch" maxle value=""ngth="30" /></td>
 <td><input type="text" name="dyear" maxleng value=""th="30" /></td>
 <td><input type="text" name="ddivision" max value=""length="30" /></td>
 <td><input type="text" name="dpercentage" m value=""axlength="30" style="width: 100px" /></td>
 <td><input type="text" name="dcgpa" maxleng value=""th="30" style="width: 100px" /></td>
 </tr>
 <tr>
 <td>4</td>
 <td>Graduation</td>
 <td><input type="text" name="gboard" maxlen value=""gth="30" /></td>
 <td><input type="text" name="gbranch" maxle value=""ngth="30" /></td>
 <td><input type="text" name="gyear" maxleng value=""th="30" /></td>
 <td><input type="text" name="gdivision" max value=""length="30" /></td>
 <td><input type="text" name="gpercentage" m value=""axlength="30" style="width: 100px" /></td>
 <td><input type="text" name="gcgpa" maxleng value=""th="30" style="width: 100px" /></td>
 </tr>

 <tr>
 <td>5</td>
 <td class="">Post Graduation</td>
 <td><input type="text" name="pgboard" maxle value=""ngth="30" /></td>
 <td><input type="text" name="pgbranch" maxl value=""ength="30" /></td>
 <td><input type="text" name="pgyear" maxlen value=""gth="30" /></td>
 <td><input type="text" name="pgdivision" ma value=""xlength="30" /></td>
 <td><input type="text" name="pgpercentage" value=""maxlength="30" style="width: 100px" /></td>
 <td><input type="text" name="pgcgpa" maxlen value=""gth="30" style="width: 100px" /></td>
 </tr>

 <tr>
 <td>6</td>
 <td>Ph.D.</td>
 <td><input type="text" name="phdboard" maxl value=""ength="30" /></td>
 <td><input type="text" name="phdbranch" max value=""length="30" /></td>
 <td><input type="text" name="phdyear" maxle value=""ngth="30" /></td>
 <td><input type="text" name="phddivision" m value=""axlength="30" /></td>
 <td><input type="text" name="phdpercentage" value="" maxlength="30" style="width: 100px" /></td>
 <td><input type="text" name="phdcgpa" maxle value=""ngth="30" style="width: 100px" /></td>
 </tr>

 <tr>
 <td>7</td>
 <td>Others</td>
 <td><input type="text" name="oboard" maxlen value=""gth="30" /></td>
 <td><input type="text" name="obranch" maxle value=""ngth="30" /></td>
 <td><input type="text" name="oyear" maxleng value=""th="30" /></td>
 <td><input type="text" name="odivision" max value=""length="30" /></td>
 <td><input type="text" name="opercentage" m value=""axlength="30" style="width: 100px" /></td>
 <td><input type="text" name="ocgpa" maxleng value=""th="30" style="width: 100px" /></td>
 </tr>

 <tr>
 <td>8</td>
 <td class="">Title of Ph.D. Thesis</td>
 <td><input type="text" name="tophdboard" ma value=""xlength="30" /></td>
 </tr>


 </table>

 </td>
 </tr>
 </table>
 <br>
 </fieldset> -->
                    <br><br><br>
                    <div class="container col-lg-2 col-md-4 col-sm-4">
                        <button type="submit" class="btn"><a href="/form1Edit">Prev</a></button>
                        <button type="submit" class="btn">Next</button>
                    </div>
                </div>
                <% }) %>
            </form>
            <a href="/users/logout" class="btn btn-secondary">Logout</a>

        </div>
        <center>
            <div class="footer col-lg-12 col-md-12 col-sm-12">
            </div>
        </center>
<script>
    var from = document.getElementById('form1').value
    var to = document.getElementById('to1').value

    var  getYear = (from, to) => {
                var today = new Date(to);
                var birthDate = new Date(from);
                var age = today.getFullYear() - birthDate.getFullYear();
                var m = today.getMonth() - birthDate.getMonth();
                if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
                    age--;
                }
                return age;
            }
    var predictYear = () =>  {
        document.getElementById('year1').value = getYear(from, to)
    }

    var predictMonth = () => {

    }
</script>
</body>

</html>