<html>

<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap.css">
    <!-- <link rel="stylesheet" href="/css/styles/form.css"> -->
    <style>
            body{
                text-align: left;
            }
         /* table{
                                    border-collapse: separate;
                                border-spacing: 100px 5px;
                                } */
                                input{
                                    float: right;
                                }
                                .subhead {
                                    width: 100%;
                                    margin-top: 10vh;
                                    border-radius: 10px;
                                    padding: 10px;
                                    color: black;
                                    font-size: 40px;
                                    text-align: center;
                                    background-color: lightsteelblue;
                                }
                                .jumbotron{
                                    background-color: lightsteelblue;
                                }
                                .btn
                                {
                                    background-color: lightsteelblue;
                                    color: black;
                                    border-radius: 5px;
                                    display: inline;
                                    font-weight: bold;
                                }
                                .box {
                                    padding-left: 10px;
                                }
                        
                                .border {
                                    padding-top: 20px;
                                    padding-left: 30px;
                                    padding-bottom: 20px;
                                    background-color: lightsteelblue;
                                    border-radius: 10px;
                                }
                                .footer{
                                    width: 100%;
                                    height: 100px;
                                    background-color: lightsteelblue;
                                    /* margin-left: 10px;
                                    margin-right: 10px; */
                                    border-top-left-radius: 10px;
                                    border-top-right-radius: 10px;
                                }
                                a{
                                    text-decoration: none;
                                    color: black;
                                }
                                a :hover{
                                    text-decoration: none;
                                    color: black;
                                }
            </style>
</head>

<body>
            <div class="jumbotron" >
                    <img src="/images/nitbanner.png" alt="NITS" height="180vh" width="1000vh" class="col-lg-12 col-md-12 col-sm-12">
                </div>
    
                <center>
                    <div class="subhead col-lg-10 col-md-12 col-sm-12" id="headline">
                        Registration Portal
                    </div>
                </center>
                <br><br><br>
        <div class="container col-lg-10 col-md-10 col-sm-10">
            <legend>11. UPLOAD DETAILS</legend>
            <br>
            <form class="form-horizontal" enctype="multipart/form-data" method="POST">

            <div style="border: 1px dashed lightsteelblue; padding: 5px;">
                <b>Note:</b> Only the Consolidated/Final marksheets should be uploaded. In case of lost document,
                a scanned copy of police complain/FIR file will be entertained.</div>
            <br><br><br>
            <div class="col-lg-12 col-md-12 col-sm-12">
                i. Photograph
                <input type="file" value="<%= doc.photo %>" name="photo">
            </div>
            <br>
            <div class="col-lg-12 col-md-12 col-sm-12">
                ii. Signature
                <input type="file" value="<%= doc.signature %>" name="signature">
            </div>
            <br>
            <div class="col-lg-12 col-md-12 col-sm-12">
                iii. Transaction Bill
                <input type="file" value="<%= doc.transBill %>" name="transBill">
            </div>
            <br>
            <div class="col-lg-12 col-md-12 col-sm-12">
                iv. Age Proof
                <input type="file" value="<%= doc.ageC %>" name="ageC">
            </div>
            <br>
            <div class="col-lg-12 col-md-12 col-sm-12">
                v. Caste Certificate
                <input type="file" value="<%= doc.casteC %>" name="casteC">
            </div>
            <br>
            <div class="col-lg-12 col-md-12 col-sm-12">
                vi. PWD Certificate(If applicable)
                <input type="file" value="<%= doc.pwdC %>" name="pwdC">
            </div>
            <br>
            <div class="col-lg-12 col-md-12 col-sm-12">
                vii. X Marksheet
                <input type="file" value="<%= doc.XMarksheet %>" name="XMarksheet">
            </div>
            <br>
            <div class="col-lg-12 col-md-12 col-sm-12">
                viii. X Certificate
                <input type="file" value="<%= doc.XCertificate %>" name="XCertificate">
            </div>
            <br>
            <div class="col-lg-12 col-md-12 col-sm-12">
                ix. XII Marksheet
                <input type="file" value="<%= doc.XIIMarksheet %>" name="XIIMarksheet">
            </div>
            <br>
            <div class="col-lg-12 col-md-12 col-sm-12">
                x. XII Certificate
                <input type="file" value="<%= doc.XIICertificate %>" name="XIICertificate">
            </div>
            <br>
            <div class="col-lg-12 col-md-12 col-sm-12">
                xi. Diploma Marksheet
                <input type="file" value="<%= doc.diplomaMarksheet %>" name="diplomaMarksheet">
            </div>
            <br>
            <div class="col-lg-12 col-md-12 col-sm-12">
                xii. Diploma Certificate
                <input type="file" value="<%= doc.diplomaCertificate %>" name="diplomaCertificate">
            </div>
            <br>
            <div class="col-lg-12 col-md-12 col-sm-12">
                xiii. Graduation Marksheet
                <input type="file" value="<%= doc.gradMarksheet %>" name="gradMarksheet">
            </div>
            <br>
            <div class="col-lg-12 col-md-12 col-sm-12">
                xiv. Graduation Certificate
                <input type="file" value="<%= doc.gradCertificate %>" name="gradCertificate">
            </div>
            <br>
            <div class="col-lg-12 col-md-12 col-sm-12">
                xv. Post Graduation Marksheet
                <input type="file" value="<%= doc.postGradMarksheet %>" name="postGradMarksheet">
            </div>
            <br>
            <div class="col-lg-12 col-md-12 col-sm-12">
                xvi. Post Graduation Certificate
                <input type="file" value="<%= doc.postGradCertificate %>" name="postGradCertificate">
            </div>
            <br>
            <div class="col-lg-12 col-md-12 col-sm-12">
                xvii. Ph.D Certificate
                <input type="file" value="<%= doc.phdCertificate %>" name="phdCertificate">
            </div>
            <br>
        </div>
        <br><br>
        <div class="container col-lg-10 col-md-12 col-sm-12">
            <legend>12. EXPERIENCE CERTIFICATES (As per the criteria mentioned in the advertisement)</legend>
            <br>
            <div class="col-lg-12 col-md-12 col-sm-12">
                i.
                <input type="file" value="<%= doc.experience1 %>" name="experience1">
            </div>
            <br>
            <div class="col-lg-12 col-md-12 col-sm-12">
                ii.
                <input type="file" value="<%= doc.experience2 %>" name="experience2">
            </div>
            <br>
            <div class="col-lg-12 col-md-12 col-sm-12">
                iii.
                <input type="file" value="<%= doc.experience3 %>" name="experience3">
            </div>
            <br>
            <div class="col-lg-12 col-md-12 col-sm-12">
                iv.
                <input type="file" value="<%= doc.experience4 %>" name="experience4">
            </div>
            <br>
            <div class="col-lg-12 col-md-12 col-sm-12">
                v.
                <input type="file" value="<%= doc.experience5 %>" name="experience5">
            </div>
            <br>
        </div>
        <br><br>
        <div class="container col-lg-10 col-md-12 col-sm-12">
            <legend>13. NOC/Advance copy applied for NOC to the respective heads(If applicable) </legend>
            <br>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <input type="file" value="<%= doc.NOC %>" name="experience6">
            </div>
        </div>
        <br><br>
    
        <div class="container col-lg-10 col-md-10 col-sm-10" style="border: 2px dashed lightsteelblue; padding: 20px;">
            <legend>DECLARATION:</legend>
            I hereby declare that all the information given above is correct to the best of my knowledge and
            belief.<br>Also I have carefully checked that the position for which I am applying has been
            advertised by NIT SILCHAR. I fully understand that if it is found that any information given in the
            application is incorrect/false or if I do not satisfy the eligibility criteria at a later date, my
            candidature/appointment is liable to be cancelled.
            <br><br><br>
            Date:<input type="date" value="<%= doc.declareDate %>" class="form-control col-lg-4 col-md-4 col-sm-4" style="float: none;" name="declareDate" />
            <br>Place:<input type="text" value="<%= doc.declarePlace %>" class="form-control col-lg-4 col-md-4 col-sm-4" style="float: none;" name="declarePlace" />
        </div>
        <br><br><br>
<center>
        <div class="container col-lg-4 col-md-4 col-sm-4">
            <button type="submit" class="btn"><a href="/form2Edit">PREV</a></button>
            <button type="submit" class="btn">SUBMIT</button>

        </div>
    </center>
    </form>
    <br><br><br>
        
   
    <a href="/users/logout"><button class="btn">LOGOUT</button></a>

<center>
    <div class="footer col-lg-12 col-md-12 col-sm-12">
    </div>
</center>
</body>

</html>