<form action="/form1Edit" method="POST" enctype="multipart/form-data">

    <div class="main" id="page-1">
        ADVERTISEMENT NO. AND DATE:
        <% docs.forEach((doc)=>{ %>
        <input type="text" name="advNo" value = "<%= doc.advNo %>"style="margin-left: 100px;" />
        <br><br><br>


        <fieldset>
            <legend>TRANSACTION DETAILS</legend><br><br>
            TRANSACTION ID
            
            <input type="text" name="transactionId" value="<%= doc.transactionId %>" style="margin-left: 205px;"><br><br>
            BANK NAME
            <input type="text" name="bankName" value="<%= doc.bankName %>" style="margin-left: 246px;"><br><br>
            BRANCH NAME
            <input type="text" name="branchName" value="<%= doc.branchName %>" style="margin-left: 222px;"><br><br>
            AMOUNT
            <input type="number" name="amount"  value="<%= doc.amount %>" style="margin-left: 270px;"><br><br>
            <% }) %>
        </fieldset>
        <br><br>
        <button type="submit">NEXT</button></a>

    </div>
</form>