<head>
    <style>
        table{
            border-collapse: separate;
border-spacing: 100px 5px;
        }
        .subhead {
            width: 100%;
            margin-top: 10vh;
            border-radius: 10px;
            padding: 10px;
            color: black;
            font-size: 40px;
            text-align: center;
            background-color: lightsteelblue;
        }
        .jumbotron{
            background-color: lightsteelblue;
        }
        .btn
        {
            background-color: lightsteelblue;
            color: black;
            border-radius: 5px;
            display: inline;
            font-weight: bold;
        }
        .box {
            padding-left: 10px;
        }

        .border {
            padding-top: 20px;
            padding-left: 30px;
            padding-bottom: 20px;
            background-color: lightsteelblue;
            border-radius: 10px;
        }
        .footer{
            width: 100%;
            height: 100px;
            background-color: lightsteelblue;
            /* margin-left: 10px;
            margin-right: 10px; */
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
        a{
            text-decoration: none;
            color: black;
        }
        a :hover{
            text-decoration: none;
            
            color: black;
        }
    </style>
</head>
<div class="jumbotron">
    <img src="/images/nitbanner.png" alt="NITS" height="180vh" width="1000vh" class="col-lg-12 col-md-12 col-sm-12">
</div>

<center>
    <div class="subhead col-lg-10 col-md-12 col-sm-12" id="headline">
        SUPER Admin Section
    </div>
</center>
<br><br><br>
<a class="btn" href="/admins/superAdmin/panel">interview panel</a>
<a class="btn" href="/admins/superAdmin/finalList">final list</a>

<div class="dropdown">
        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Post Applied
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <form method="post" action="/admins/superAdmin/postApplied">
                    <li><button id="lib" onclick="onClickHandler('lib')" name="post" value='Librarian'>Librarian</button></li>
            </form>
            <form method="post" action="/admins/superAdmin/postApplied">
                    <li><button id="coach" onclick="onClickHandler('coach')" name="post" value='Coach'>Coach</button></li>
            </form>             
            <form method="post" action="/admins/superAdmin/postApplied">
                    <li><button id="reg" onclick="onClickHandler('reg')" name="post" value='Registerar'>Registerar</button></li>
            </form>
        </ul>
      </div>

<h2>Eligible as per hod</h2>
<table>
    <tr>
        <th></th>
        <th>Registration ID</th>
        <th>Name</th>
        <th>Remarks</th>
        <th></th>
        <th></th>
    </tr>
        <% docs.forEach((doc) => { %>
            <% if(doc.sentToDir && doc.sentToSuper) { %>
                <% if(doc.tick) { %>
        <tr>
            <!-- <td><input type="checkbox" name="<%= doc.userId %>" value="false" />Move to rejected candidates list</td> -->
            <td><%= doc.userId %></td>
            <td><%= doc.name %></td>
            <td><%= doc.Remarks %></td>
            <td><a target="_blank" href="/admins/userdetail/<%= doc._id %>">view</a></td>
            <form method="post" action="/admins/superAdmin/remove/<%= doc.userId %>" id="<%= doc.userId %>">
                <td><button class="btn" type="submit" onclick="onClickHandler('<%= doc.userId %>')">remove</button></td>
            </form>
        </tr>
            <% } %>
            <% } %>
        <% }) %>
</table>

    <br>
    <br>
<h2>Not Eligible as per hod</h2>
<table>
        <tr>
            <th></th>
            <th>Registration ID</th>
            <th>Name</th>
            <th>Remarks</th>
            <th></th>
            <th></th>
        </tr>
            <% docs.forEach((doc) => { %>
                <% if(doc.sentToDir && doc.sentToSuper) { %>
                    <% if(!doc.tick) { %>
            <tr>
                <!-- <td><input type="checkbox" name="<%= doc.userId %>" value="true" />Move to selected candidates list</td> -->
                <td><%= doc.userId %></td>
                <td><%= doc.name %></td>
                <td><%= doc.Remarks %></td>
                <td><a target="_blank" href="/admins/userdetail/<%= doc._id %>">view</a></td>
                <form method="post" action="/admins/superAdmin/add/<%= doc.userId %>" id="<%= doc.userId %>">
                    <td><button class="btn" type="submit" onclick="onClickHandler('<%= doc.userId %>')">add</button></td>
                </form><br>
            </tr>
                <% } %>
                <% } %>
            <% }) %>
    </table>
    <br><br>
    <form method="post" action="/admins/superAdmin">
    <span>Send final list to the establishment section</span>
    <button class="btn" type="submit">Send</button>
</form>

<a href="/admins/logout" class="btn btn-secondary">Logout</a>
<script>
        onClickHandler = (id) => {
            document.getElementById(id).submit()
        }
    </script>